h1 {
  padding: 50px 0;
  font-size: 50px;
}

.container {
  padding-bottom: 50px;
}

h2 {
  padding-bottom: 16px;
}

.ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  font-size: 40px;
  padding: 10px 0;
  position: relative;
  list-style: none;
  transition: color 0.3s ease;
}

li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.5s ease;
}

li:hover {
  color: skyblue;
}

li:hover::after {
  width: 100%;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

header h1 {
  padding: 0;
}

hr {
  width: 100%;
  margin: 16px 0;
}

pre {
  display: flex;
  justify-content: center;
  text-align: left;
}
