<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>None JSX</title>
    <body>
        <div id = "d"></div>
        <script>
            const name = "홍길동";
            const element = document.createElement(
                element.innerHTML = "<>Hello,world</>"+name+"<d/>");
            const container = document.getElementById("div");
            container.appendChild(element);
        </script>
        
        <div id="d"></div>
    </body>
    </head>
    <link rel="stylesheet" href="../../../../style.css">